@font-face {
    font-family: "strikesans";
    src: url("fonts/KCStrikerSans.otf");
}

*{
    box-sizing: border-box;
    margin: 0;
}


a{
    color: #fff;
    text-decoration: none;
}


p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif    ;
}

h1, h2, h3{
 font-family: "strikesans";
}

.header{
    background-color: #011c4154 ;
    height: 80px;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-bottom: 8px solid #fff;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1500x;
    margin: 0 auto;
}

.nav-link{
    color: #fff;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

  

.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    font-family: "strikesans";
 
}
.nav-menu-item{
    font-size: 15px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
} 

.nav-menu-link{
    border-radius: 3px;
}

.nav-menu-link:hover{
    background: none;
    color: #d4edff;
 }

.nav-toogle{
    color: #fff;
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

.ventanal{
    display: grid;
    grid-template-columns:52% 48%;
    grid-template-rows: repeat(2,300px);
    background: #ffffff00;
}

.ventanal h2{
    font-family: "strikesans";
    font-size: 20px;
    text-shadow:  -5px -5px 8px #222222;
 
}


.ventanal .element1{
    background: url(img/car1.jpg);
    background-position:center;
    background-size:cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,72px) 99px 57px;
    color: #fff;   

}


.ventanal .element1 h2, .element2 h2, .element3 h2, .element4 h2{
    margin: 0 5px;
}



.botones, .botones3{
    display: flex;
    border: 2px solid #fff;
    background: none;
    border-radius: 7px;
    font-family: "strikesans";
    width: 180px;
    height: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px 0px 10px 5px;
}

.botones h2, .botones2 h2, .botones3 h2, .botones4 h2{
    font-size: 12px;
    text-shadow: none;
}

.botones2, .botones4{
    flex-direction: row-reverse;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    font-family: "strikesans";
    font-size: 8px;
    width: 70px;
    height: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 5px 0 63%;
}

.botones3{
    flex-direction: row-reverse;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    font-family: "strikesans";
    font-size: 8px;
    width: 70px;
    height: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 5px ;
}

.botones:hover, .botones3:hover, .botones2:hover{
    background-color: rgb(11, 11, 11, 0.46);
    transition: ease 100ms ;
}

.ventanal .element2{

    background: url(img/car2.jpg);
    background-position:center;
    background-size:cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,97px) 38px 65.3px;  
    color: #fff; 
    text-align: right;   
}



.ventanal .element3{
    background: url(img/car3.png);
    background-position:center;
    background-size:cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,77px) 99px 47px;
    color: #fff; 
}



.ventanal .element4{
    background: url(img/car4.jpg);
    background-position:center;
    background-size:cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,97px) 38px 65.3px;  
    color: #fff;
    text-align: right;
}

.ventanal .element4 h1{
    margin-left: 10px;
    margin-right: 25px;
}


.final h3{
    font-family: "strikesans";
    font-size: 18px;
    text-shadow: none;
}

.final div{
    background: #222222;
    padding: 1em;
}



.final .columnas{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(4,65px);
    text-align: center; 
    color: #fff;
    text-decoration: none;
    list-style: none;
    
}

.final p{
    font-size: 12px;
}

@media screen and (max-width: 2000px){ 
    
    .ventanal{
        grid-template-rows: repeat(2,435px);
    }

    .ventanal .element1{
        grid-template-rows: repeat(2,102px) 166px 65px;
    }

    .ventanal .element2,.ventanal .element4{
        grid-template-rows: repeat(2,150.7px) 48px 65.3px;    
    }
    
    
    
    .ventanal .element3{
        grid-template-rows: repeat(2,180px) 166px 65px;
    }
    
    
    .ventanal h2{
        font-size: 40px; 
    }
  
    .botones{
        width: 180px;
        height: 35px;
        margin: 20px 0px 10px 5px;
    }
    
    .botones h2, .botones2 h2, .botones3 h2, .botones4 h2{
        font-size: 20px;
    }
    
    .botones2, .botones4{
        width: 120px;
        height: 35px;
        margin: 10px 5px 0 81%;
    }
    
    .botones3{
        width: 180px;
        height: 35px;
    }
    
    .final h3{
        font-size: 25px;
    }
    
    .final p{
        font-size: 15px;
    }

    
.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
}

@media screen and (max-width: 2000px){
    .ventanal{
        grid-template-rows: repeat(2,605px);
    }

    .ventanal .element1{
        grid-template-rows: repeat(2,169.5px) 191px 75px;
    }

    .ventanal .element2,.ventanal .element4{
        grid-template-rows: repeat(2,240.5px) 49px 75px;    
    }
    

    .nav p{
        font-size: 20px;
    }
    
    .logo{
        font-size: 30px;
        padding: 10px 40px;
        line-height: 60px;
        font-family: "strikesans";
    }

}

@media screen and (max-width: 1510px){ 
    
    .ventanal{
        grid-template-rows: repeat(2,600px);
    }

    .ventanal .element1{
        grid-template-rows: repeat(2,164.5px) 191px 75px;
    }

    .ventanal .element2,.ventanal .element4{
        grid-template-rows: repeat(2,223px) 49px 75px;    
    }
    
    
    
    .ventanal .element3{
        grid-template-rows: repeat(2,174.5px) 191px 55px;
    }
    
    
    .ventanal h2{
        font-size: 50px; 
    }
  
    .botones{
        width: 180px;
        height: 45px;
        margin: 20px 0px 10px 5px;
    }
    
    .botones h2, .botones2 h2, .botones3 h2, .botones4 h2{
        font-size: 20px;
    }
    
    .botones2, .botones4{
        width: 120px;
        height: 35px;
        margin: 10px 5px 0 81%;
    }
    
    .botones3{
        width: 180px;
        height: 35px;
    }
    
    .final h3{
        font-size: 25px;
    }
    
    .final p{
        font-size: 15px;
    }
}


@media screen and (max-width: 1260px){ 
    
    .ventanal{
        grid-template-rows: repeat(2,390px);
    }

    .ventanal .element1{
        grid-template-rows: repeat(2,100.25px) 126px 55px;
    }

    .ventanal .element2,.ventanal .element4{
        grid-template-rows: repeat(2,142px) 38px 65.3px;    
    }
    
    
    
    .ventanal .element3{
        grid-template-rows: repeat(2,109.75px) 126px 55px;
    }
    
    
    .ventanal h2{
        font-size: 35px; 
    }
  
    .botones{
        width: 160px;
        height: 25px;
        margin: 20px 0px 10px 5px;
    }
    
    .botones h2, .botones2 h2, .botones3 h2, .botones4 h2{
        font-size: 15px;
    }
    
    .botones2, .botones4{
        width: 100px;
        height: 25px;
        margin: 10px 5px 0 78.5%;
    }
    
    .botones3{
        height: 25px;
        width: 100px;
    }
    
    .final h3{
        font-size: 20px;
    }
    
    .final p{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px){
 
    .header{
       height: 60px; 
    }
    
    .nav p{
        font-size: 15px;
    }

    .nav-menu{
        flex-direction: column;
        margin-right: 20px;
        align-items: center;
        background-color: #2c3e50 ;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    
    .logo{
        font-size: 24px;
        padding: 0 40px;
        line-height: 60px;
        font-family: "strikesans";
    }

    .nav-menu-item{ 
        line-height: 70px;
    } 

    .nav-menu-link:hover{
        background: none;
        color: #d4edff;
     }
    
    .nav-toogle{
        display: block;
    }
    
    .nav-menu_visible{
        left: 0;
        transition: 0.3s;
    }

}

@media screen and (max-width: 960px){    

    .ventanal{
        grid-template-columns:52% 48%;
        grid-template-rows: repeat(2,350px);
    }

    .ventanal .element1{
        grid-template-rows: repeat(2,97px) 99px 57px; 
    }

    .ventanal .element2{
        grid-template-rows: repeat(2,122px) 38px 65.3px;  
    }
    
    
    
    .ventanal .element3{
        grid-template-rows: repeat(2,102px) 99px 47px;

    }
    
    .ventanal .element4{
        grid-template-rows: repeat(2,122px) 38px 65.3px;  
    }

    .ventanal h2{
        font-size: 28px; 
    }
  
    .botones{
        width: 170px;
        margin: 20px 0px 10px 5px;
    }
    
    .botones h2, .botones2 h2, .botones3 h2, .botones4 h2{
        font-size: 15px;
    }
    
    .botones2, .botones4{
        width: 100px;
        margin: 10px 5px 0 76%;
    }
    
    .botones3{
        width: 100px;
    }
    
    .final h3{
        font-size: 20px;
    }
    
    .final p{
        font-size: 15px;
    }
}

@media screen and (max-width: 840px){    



    .ventanal h2{
        font-size: 28px; 
    }
  
    .botones{
        width: 170px;
        margin: 20px 0px 10px 5px;
    }
    
    .botones h2, .botones2 h2, .botones3 h2, .botones4 h2{
        font-size: 15px;
    }
    
    .botones2, .botones4{
        width: 100px;
        margin: 10px 5px 0 72%;
    }
    
    .botones3{
        width: 100px;
    }
    
    .final h3{
        font-size: 20px;
    }
    
    .final p{
        font-size: 15px;
    }
}

@media screen and (max-width: 718px){    
    .ventanal h2{
        font-size: 26px; 
        margin-bottom: 10px;
    }

    .ventanal .element1{
        grid-template-rows: repeat(2,72px) 99px 57px; 
    }

    .ventanal .element2{
        grid-template-rows: repeat(2,97px) 38px 65.3px;  
    }
    
    
    
    .ventanal .element3{
        grid-template-rows: repeat(2,77px) 99px 47px;

    }
    
    
    
    .ventanal .element4{
        grid-template-rows: repeat(2,97px) 38px 65.3px;  
    }
  
    .botones{
        width: 170px;
        margin: 25px 0px 10px 5px;
    }
    
    .botones h2, .botones2 h2, .botones3 h2, .botones4 h2{
        font-size: 16px;
    }
    
    .botones2, .botones4{
        width: 100px;
        margin: 10px 5px 0 70%;
    }
    
    .botones3{
        width: 100px;
    }
    
    .final h3{
        font-size: 20px;
    }
    
    .final p{
        font-size: 15px;
    }
}

@media screen and (max-width: 658px){    
    .ventanal h2{
        font-size: 24px; 
        margin-bottom: 10px;
    }
  
    .botones{
        width: 150px;
        margin: 25px 0px 10px 5px;
    }
    
    .botones h2, .botones2 h2, .botones3 h2, .botones4 h2{
        font-size: 16px;
    }
    
    .botones2, .botones4{
        width: 100px;
        margin: 10px 5px 0 60%;
    }
    
    .botones3{
        width: 100px;
        height: 24px;
    }
    
    .final h3{
        font-size: 20px;
    }
    
    .final p{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px){
    .ventanal{
        display: grid;
        grid-template-columns:52% 48%;
        grid-template-rows: repeat(2,325px);
        background: #ffffff00;
    }
    
    .ventanal h2{
        font-family: "strikesans";
        font-size: 20px;
        text-shadow:  -5px -5px 8px #222222;
     
    }
    
    
    .ventanal .element1{
        background: url(img/car1.jpg);
        background-position:center;
        background-size:cover;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,84.5px) 99px 57px;
        color: #fff;   
    
    }
    
    
    .ventanal .element1 h2, .element2 h2, .element3 h2, .element4 h2{
        margin: 0 5px;
    }
    
   
    
    .botones, .botones3{
        display: flex;
        border: 2px solid #fff;
        background: none;
        border-radius: 7px;
        font-family: "strikesans";
        width: 100px;
        height: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 25px 0px 10px 5px;
    }
    
    .botones h2, .botones2 h2, .botones3 h2, .botones4 h2{
        font-size: 12px;
        text-shadow: none;
    }
    
    .botones2, .botones4{
        flex-direction: row-reverse;
        border: 2px solid #fff;
        background: none;
        border-radius: 5px;
        font-family: "strikesans";
        font-size: 8px;
        width: 70px;
        height: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px 5px 0 61%;
    }
    
    .botones3{
        flex-direction: row-reverse;
        border: 2px solid #fff;
        background: none;
        border-radius: 5px;
        font-family: "strikesans";
        font-size: 8px;
        width: 70px;
        height: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px 5px ;
    }
    
    .botones:hover, .botones3:hover, .botones2:hover{
        background-color: rgb(11, 11, 11, 0.46);
        transition: ease 100ms ;
    }
    
    .ventanal .element2{
    
        background: url(img/car2.jpg);
        background-position:center;
        background-size:cover;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,112px) 32px 65.3px;  
        color: #fff; 
        text-align: right;   
    }
    
    
    
    .ventanal .element3{
        background: url(img/car3.png);
        background-position:center;
        background-size:cover;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,89.5px) 99px 47px;
        color: #fff; 
    }
    
    
    
    .ventanal .element4{
        background: url(img/car4.jpg);
        background-position:center;
        background-size:cover;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,112px) 32px 65.3px;  
        color: #fff;
        text-align: right;
    }
    
    
    
    .final h3{
        font-family: "strikesans";
        font-size: 18px;
        text-shadow: none;
    }
    
    .final div{
        background: #222222;
        padding: 1em;
    }
    
    
    
    .final .columnas{
        display: grid;
        grid-template-columns: repeat(3,33%);
        grid-template-rows: repeat(4,75px);
        text-align: center; 
        color: #fff;
        text-decoration: none;
        list-style: none;
        
    }
    
    .final p{
        font-size: 12px;
    }
}
@media screen and (max-width: 320px){
    
    .botones2, .botones4{
        margin: 10px 5px 0 55%;
    }

    .final h3{
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 285px){
    
    .botones2, .botones4{
        margin: 10px 5px 0 48%;
    }

    .ventanal h2{
        font-family: "strikesans";
        font-size: 18px;
        text-shadow:  -5px -5px 8px #222222;
     
    }
    .botones h2, .botones2 h2, .botones3 h2, .botones4 h2{
        font-size: 12px;
    }
}

@media screen and (max-height: 915px){
    .final .columnas{
        display: grid;
        grid-template-columns: repeat(3,33%);
        grid-template-rows: repeat(4,70px);
        text-align: center; 
        color: #fff;
        text-decoration: none;
        list-style: none;
    }
}

/* ACERCA DE: */

.caja{
    width: 1000px;
    height: 100%;
    margin-top: 70px;
}

.visual{
    display: grid;
    margin-top: 70px;
    grid-template-columns: 2% 94% 2% ;
    grid-template-rows: repeat(2, 350px);
}

.visual h2{
    font-size: 30px;
    text-align: center;
  
}

.visual p{
    text-align: justify;
    font-size: 18px;
}

.visual .imagen .imagen1{
    width: 100%;
    height: 100%;
    margin: 0 2%;
}

.CTitulo h2{
   text-align: center; 
   font-size: 30px;
   margin: 25px 0;
}
/* --- --- CAROUSEL --- --- */

.carousel__contenedor {
	position: relative;
    z-index: 0;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: rgb(0, 0, 0);
	opacity: 40%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: 8px;
}

.carousel__siguiente {
	right: 8px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
	width: 50px;
	height: 50px;	
	align-items: center;
}

.honda{
    width: 180px;
    height: 180px;
    object-fit:fill;
}

.nissan{
    width: 180px ;
    height: 180px;
}

.bmw{
    width: 180px ;
    height: 180px;
}

.ford{
    width: 180px ;
    height: 180px;
}

.susuki{
    width: 180px ;
    height: 180px;
}

.kia{
    width: 180px;
    height: 180px;
}

.ferrari{
    width: 180px;
    height: 180px;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: rgb(0, 0, 0);
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

.contacto{
    display: grid;
    grid-template-columns: 3% 94% 3%;
}
#map{
    height: 400px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.mapa{
    height: 100%;
    width: 100%;
}
.telefono{
  background: #222222c6;
  color: #fff;
  width: 100%;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-size: 16px;
}
.conjunto-T{
    display: grid;
    grid-template-columns: 3% 31.3% 31.3% 31.3% 3%;
    text-align: center;
    margin-top: 20px;
}
.e-mail{
    text-align: left;
    font-size: 14px;
}
.c{
    text-align: right;
}

@media screen and (max-width: 2000px){
    .visual{
        margin-top: 100px;
        grid-template-columns: 13% 33.85% 0% 0% 38.75% 13%;
        grid-template-rows: 380px;
    }

    .visual .imagen .imagen1 {
        object-fit:scale-down;
    }

    .titulo h2{
        font-size: 33px;
    }

    .visual p{
        font-size: 19px;
    }

    .contenido p{
        margin-top: 10px;
    }

    .honda{
        width: 180px;
        object-fit: scale-down;
    }
    
    .nissan{
        width: 180px ;
        
    }
    
    .bmw{
        width: 180px ;
       
    }
    
    .ford{
        width: 180px ;
        
    }
    
    .susuki{
        width: 180px ;
        
    }
    
    .kia{
        width: 180px;
        
    }
    
    .ferrari{
        width: 180px;
        
    }

    .contacto{
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }

}

@media screen and (max-width: 1500px){
    .visual{
        margin-top: 100px;
        grid-template-columns: 13% 33.85% 0% 0% 38.75% 13%;
        grid-template-rows: 380px;
    }

    .visual .imagen .imagen1 {
        object-fit:scale-down;
    }

    .titulo h2{
        font-size: 33px;
    }

    .visual p{
        font-size: 19px;
    }

    .contenido p{
        margin-top: 10px;
    }

    .honda{
        width: 180px;
        object-fit: scale-down;
    }
    
    .nissan{
        width: 180px ;
        
    }
    
    .bmw{
        width: 180px ;
       
    }
    
    .ford{
        width: 180px ;
        
    }
    
    .susuki{
        width: 180px ;
        
    }
    
    .kia{
        width: 180px;
        
    }
    
    .ferrari{
        width: 180px;
        
    }

    .contacto{
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }

}

@media screen and (max-width: 1100px){
    .visual{
        grid-template-columns: 13% 74% 13% ;
        grid-template-rows: 220px 400px;
    }

    .visual .imagen .imagen1 {
        object-fit: scale-down;
 
    }

    .titulo h2{
        font-size: 30px;
    }

    .visual p{
        font-size: 16px;
    }

    .contacto{
        display: grid;
        grid-template-columns: 2% 96% 2%;
    }
}

@media screen and (max-width: 700px){
    .visual{
        grid-template-columns: 6% 88% 6% ;
        grid-template-rows: 280px 300px;
    }

}

@media screen and (max-width: 510px){
    .visual{
        margin-top: 80px;
        grid-template-columns: 2% 96% 2% ;
        grid-template-rows: 280px 300px;
    }

}

@media screen and (max-width: 450px){
    .visual{
        margin-top: 80px;
        grid-template-columns: 2% 96% 2% ;
        grid-template-rows: 350px 300px;
    }
}
@media screen and (max-width: 300px){
    .visual{
        grid-template-columns: 2% 96% 2% ;
        grid-template-rows: 400px 300px;
    }

}


.buscador{
    display: grid;
    grid-template-columns: 2% 96% 2%;
    place-items: center;
    margin-bottom: 25px;
}

input{
    width: 54%;
    height: 100%;
    padding: 10px;
    outline: none;
    border-radius: 20px;
    text-align: center;
}

.filtro{
    display: none;
}



.textoG, .imagen1{
    width: 100px;
    height: 100px;
    align-items: center;
    object-fit:scale-down;
    margin: 25px auto;
}

.cuadricula{
    list-style: none;
    color: #000;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(2, 45%) ;
    gap: 5% 5%;
    column-gap: 5%;
    margin: 20px 0 100px 0;

}

.texto p{
    text-align: justify;
}

.texto h2{
    font-size: 20px;
    text-align: center;
}

.texto a{
    color: #000;
}

@media screen and (max-width: 2800px){

    .cuadricula{
        grid-template-columns: repeat(2, 50%) ;
        gap: 0;
        row-gap: 5%;
        }

    .texto{
        width: 60%;
        margin: auto;
    }

    .textoG, .imagen1{
        width: 200px;
        height: 200px;;
    }

    .texto p{
        font-size: 19px;
    }
    
    .texto h2{
        font-size: 30px;
    }

    input{
        font-size: 16px;
    }
}

@media screen and (max-width: 1154px){

    .cuadricula{
        list-style: none;
        color: #000;
        place-items: center;
        display: grid;
        grid-template-columns: repeat(2, 45%) ;
        gap: 5% 5%;
        column-gap: 5%;
        margin: 20px 0 100px 0;
    
    }

    .textoG, .imagen1{
        width: 160px;
        height: 160px;;
    }

    .texto{
        width: 100%;
        margin: auto;
    }

    .texto p{
        font-size: 16px;
    }
    
    .texto h2{
        font-size: 30px;
    }

    input{
        font-size: 16px;
    }
}

@media screen and (max-width: 550px){
    .buscador{
        display: grid;
        grid-template-columns: 2% 96% 2%;
        place-items: center;
        margin-bottom: 25px;
    }
    
    
    .cuadricula{
        margin-right: 40px;
        grid-template-columns: 100% ;
    
    }
    
}

.nav-busqueda{
    display: grid;
    grid-template-columns: 14.8% repeat(10, 7%)  15%;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.354);
    margin-top: 95px;
    column-gap: 0.2%;
}

.main-busqueda:hover{
    border-bottom: 3px solid rgb(255, 157, 58);
}

.nav-busqueda .main-busqueda p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.visual2{
    display: grid;
    grid-template-columns: 15% 50% 0.001% 35%;
    padding: 0px;
    margin-top: 50px;  
    column-gap: 1%;  
}

.visual2 .titulo h1{
    font-family: "strikesans";
    font-size: 44px;
    color: #000000;
    text-align: center;
    margin: 0%;
}

.visual2 .contenido{
    display: grid;
    gap: 25px;
    padding: 0 7% ;
}

.visual2 .contenido p{
    font-size: 20px;
    color: #000000;
    text-align: justify;
}

.visual2 .imagen .imagen1 {
    object-fit: scale-down;
    width: 100%;
    height: 500px;
    margin: 0;
}
.recomendaciones2{
    display: grid;
    gap: 10px;
}
.recomendaciones2 .main-cuadrado1{
    display: grid;
    grid-template-columns: 20% 80%;  
    background: rgba(138, 138, 138, 0.15);
    padding: 2px 8px 2px 8px;
    border-radius: 5px;
    gap: 8px;
    place-items: center;

}

.recomendaciones2 .main-cuadrado1 p{
    font-size: 18px;
    margin: auto;
    text-align: justify;
}

.recomendaciones h3{
    font-size: 30px;
}

.recomendaciones2 .main-cuadrado1 .main-cuadrado____imagen1{
    object-fit: scale-down;
    width: 90px;
    height: 100px;
    text-align: left;
}

.visual2 .organizador{
    display: grid;
    grid-template-columns:  55% 45%;
}

.visual2 .organizador .panel-c .ultimamente{
    display: grid;
    gap: 25px;
    align-items: center;
}

.visual2 .organizador .panel-c .ultimamente p{
    font-size: 18px;
    text-align: justify;
    color: #7b7b7b;
}

.visual2 .organizador .panel-c .ultimamente h3{
    font-size: 25px;
    text-align: justify;
    color: rgb(64, 64, 64);
}

.perder1{
    background-image: url(img/freno2.jpg);
    width: 95%;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    align-items: center; 
    color: #fff;
    margin: auto;
}

.perder1 .blur{
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.39);
    height: 150px;
}

.perder1 .blur p{
    color: #fff;
    padding: 15px;
    text-align: left;
    font-size: 20px;
    margin: auto;
}

.perder1 .blur h5{  
    text-align: center;
}

.perder{
    background-image: url(img/ASD.jpg);
    width: 95%;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    align-items: center; 
    color: #fff;
    margin: auto;
}

.perder  .blur{
    backdrop-filter: blur(20px);
    background-color: rgba(159, 39, 2, 0.39);
    height: 150px;
}

.perder .blur p{
    color: #fff;
    padding: 15px;
    text-align: left;
    font-size: 20px;
    margin: auto;
}

.perder .blur h5{  
    text-align: center;
}



@media screen and (max-width: 2000px){

    .nav-busqueda{
        grid-template-columns: repeat(10, 10%)  ;
        margin: 95px 22% 0% 22%;
    }

    .nav-busqueda .main-busqueda p{
        font-size: 19px;
    }

    .visual2 .titulo h1{
        font-size: 33px;       
    }

    .visual2 .contenido p{
        font-size: 18px;
        
    }

    .visual2{
        grid-template-columns: 10% 59% 0.01% 29%;
    }

    .recomendaciones h3{
        font-size: 28px;
    }

    .recomendaciones2 .main-cuadrado1 p{
        font-size: 18px;
    }

    .max_perder{
        display: grid;
        gap: 10px;
    }

    .perder .blur p{
        color: #fff;
        padding: 4px;
        text-align: left;
        font-size: 19px;
        margin: auto;
    }
    .visual2 .organizador .panel-c .ultimamente h3{
        font-size: 23px;

    }

}

@media screen and (max-width: 1154px){
    .nav-busqueda .main-busqueda p{
        font-size: 15px;
    }

    .visual2{
        grid-template-columns: 0.0000001% 74% 0.0000001% 25%;
    }

    .visual2 .titulo h1{
        font-size: 30px;       
    }

    .visual2 .contenido p{
        font-size: 16px;
        
    }
    .recomendaciones h3{
        font-size: 25px;
    }
    .visual2 .organizador{
        grid-template-columns:  80% 20%;
    }
    .recomendaciones2 .main-cuadrado1 p{
        font-size: 15px;
    }

    .perder .blur p{
        color: #fff;
        padding: 8px;
        text-align: left;
        font-size: 16px;
        margin: auto;
    }

    .perder1 .blur p{
        color: #fff;
        padding: 8px;
        text-align: left;
        font-size: 16px;
        margin: auto;
    }

    .visual2 .organizador .panel-c .ultimamente h3{
        font-size: 20px;

    }
}
@media screen and (max-width: 800px){

    .nav-busqueda{
         grid-template-columns: repeat(10, 9.7%) ;
    }

    .visual2{
        display: grid;
        grid-template-columns: 0.00001% 99% ;
        padding: 0px;
        margin-top: 50px;  
        column-gap: 0%;  
    }
    .visual2 .organizador{
        margin-top: 25px;
        grid-template-columns:  100%;
        padding: 0 50px;
    }
    .max_perder{
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(3,33%) ;
        
    }
    .perder, .perder1{
        justify-content: space-evenly;
        justify-items: center;
    }

}

@media screen and (max-width: 590px){

    .nav-busqueda{
        grid-template-columns: repeat(5, 20%);
        margin-top: 65px;
    }

    .visual2{
        margin-top: 20px;  
    }

    .max_perder{
        grid-template-columns:100%;
    }

    .visual2 .imagen .imagen1 {
        object-fit: fill;
        height: auto;
    }

    .recomendaciones2 .main-cuadrado1 p{
        padding:0 20px;
    }
}

@media screen and (max-width: 300px){

    .nav-busqueda{
        grid-template-columns: repeat(4, 25%);
    }
}

.last_new{
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
    margin-top: 15px;
}

.last_new .last_new__img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin: 0; 
    padding: 1% 2%;
}

.last_new .last_new__text{
    padding: 1% 2%;
    color: #28292d;
    border-bottom: 1.5px solid rgba(61, 61, 61, 0.354);
}

.last_new .last_new__text h2{
    margin-bottom: 10px;
    font-size: 25px;
    color: #000;
}
.last_new .last_new__text p{
    margin-bottom: 2%;
    font-size: 15px;
    color: #000;
    text-align: justify;
}

.division_video{
    background-color: #bbbbbb41;
    height: 15px;
    margin: 15px 0px;
}

.video__h2{
    padding: 1% 2%;
}

.recomendaciones__multimedia{
    display: grid;
    grid-template-columns: 100%;  
    margin: 1% 2%;
    gap: 20px;
    row-gap: 20px;
}

.recomendaciones__multimedia___square{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 1% 2%;
    place-items: center;
    background-color: #eeeeee;    
}
.recomendaciones__multimedia___square img{
    object-fit: scale-down;
    width: 90px;
    height: 100px;
    text-align: left;
}

.recomendaciones__multimedia___square p{
    font-size: 15px;
    padding-left: 15px;
    color: #000;
    text-align: justify;
}
@media screen and (max-width: 2000px){
    .last_new{        
        grid-template-columns: 55% 45%;
        margin: 0%  22%;
        border-bottom: 1.5px solid rgba(61, 61, 61, 0.354);
    }

    .last_new .last_new__img{
        height: 300px;
    }
    .last_new .last_new__text{
        border-bottom: none;
        margin: auto 5px;
    }

    .last_new .last_new__text h2{
        font-size: 33px;
    }
    .last_new .last_new__text p{
        font-size: 18px;
    }

    .recomendaciones__multimedia{
        grid-template-columns: 25% 25% 25% 25%; 
        margin: 50px 22% 0 22%;
    }

    .video__h2{
        margin: 0%  22%;
        padding: 0%;
        font-size: 23px;
    }

    .recomendaciones__multimedia___square{
        grid-template-columns: 100%;  
        background-color: rgba(237, 235, 235, 0);    
    }

    .recomendaciones__multimedia___square img{
        object-fit: cover;
        width: 100%;
        height: 130px;
        text-align: left;
    }

    .recomendaciones__multimedia p{
        font-size: 18px;
        margin-top: 10px;
        padding: 0.5%;
    }
}

@media screen and (max-width: 1154px){
    .last_new{        
        grid-template-columns: 55% 45%;
        border-bottom: 1.5px solid rgba(61, 61, 61, 0.354);
    }

    .last_new .last_new__text{
        border-bottom: none;
        margin: auto 5px;
    }

    .recomendaciones__multimedia___square{
        grid-template-columns: 35% 65%;  
        background-color: rgba(237, 235, 235, 0.613);    
    }

    .recomendaciones__multimedia___square img{
        object-fit: cover;
        width: 100%;
        height: 100px;
        text-align: left;
    }
}

@media screen and (max-width: 460px){
    .last_new{
        display: grid;
        grid-template-columns: 100%;
        gap: 5px;
        margin-top: 15px;
    }
    
    .last_new .last_new__img{
        object-fit: cover;
        width: 100%;
        height: 200px;
        margin: 0; 
        padding: 1% 2%;
    }
    
    .last_new .last_new__text{
        padding: 1% 2%;
        color: #28292d;
        border-bottom: 1.5px solid rgba(61, 61, 61, 0.354);
    }
    
    .last_new .last_new__text h2{
        margin-bottom: 10px;
        font-size: 25px;
    }
    .last_new .last_new__text p{
        margin-bottom: 2%;
        font-size: 15px;
    }
    
    .division_video{
        background-color: #bbbbbb41;
        height: 15px;
        margin: 15px 0px;
    }
    
    .video__h2{
        padding: 1% 2%;
    }
    
    .recomendaciones__multimedia{
        display: grid;
        grid-template-columns: 100%;  
        margin: 1% 2%;
        gap: 20px;
        row-gap: 20px;
    }
    
    .recomendaciones__multimedia___square{
        display: grid;
        grid-template-columns: 25% 75%;
        padding: 1% 2%;
        place-items: center;
        background-color: #eeeeee;    
    }
    .recomendaciones__multimedia___square img{
        object-fit: scale-down;
        width: 90px;
        height: 100px;
        text-align: left;
    }
    
    .recomendaciones__multimedia___square p{
        font-size: 15px;
        padding-left: 15px;
    }
}